@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.index-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
