@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

// https://blog.csdn.net/orange_man/article/details/38490429
$top10-color-1: #19CAAD;
$top10-color-2: #8CC7B5;
$top10-color-3: #A0EEE1;
$top10-color-4: #BEE7E9;
$top10-color-5: #BEEDC7;
$top10-color-6: #D6D5B7;
$top10-color-7: #D1BA74;
$top10-color-8: #E6CEAC;
$top10-color-9: #ECAD9E;
$top10-color-10: #F4606C;

// https://www.16xx8.com/photoshop/jiaocheng/2014/135367.html
//grape fruit
$top10-color-1: #ed5565;
$top10-color-2: #da4453;
//bitter sweet
$top10-color-3: #fc6e51;
$top10-color-4: #e9573f;
//sun flower
$top10-color-5: #ffce54;
$top10-color-6: #f6bb42;
//grass
$top10-color-7: #a0d468;
$top10-color-8: #8cc152;
//mint
$top10-color-9: #48cfad;
$top10-color-10: #37bc9b;
//aqua
$top10-color-11: #4fc1e9;
$top10-color-12: #3bafda;
//blue jeans
$top10-color-13: #5d9cec;
$top10-color-14: #4a89dc;
//LAVANDER
$top10-color-15: #ac92ec;
$top10-color-16: #967adc;
//pink rose
$top10-color-17: #ec87c0;
$top10-color-18: #d770ad;
//light gray
$top10-color-19: #f5f7fa;
$top10-color-20: #e6e9ed;
//medium gray
$top10-color-21: #ccd1d9;
$top10-color-22: #aab2bd;
//dark gray
$top10-color-23: #656d78;
$top10-color-24: #434a54;

.top10 {
  color: #19CAAD;
}

