.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2.357rem;
}

.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.2rem 0;
}

.p-button.p-button-text {
  background-color: transparent;
  color: #2196F3;
  border-color: transparent;
}

.p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: #2196F3;
  border-color: transparent;
}

.p-box-size {
  box-sizing: border-box;
}

.p-float {
  float: right;
}