$hover-color: #f5f7fa;
$button-click-color: #e6e9ed;
$green-border-color:#a0d468;


.my-item {
  /*border: 1px solid #f5f7fa;*/
  /*border-radius: 5px;*/

  /*background-color: #f5f7fa;*/

  /*height: 35px;*/
  width: 50%;
  height: 3em;
  display: flex;
}

.my-item:hover {
  background-color: $hover-color;
}

.content {
  font-family: "Microsoft YaHei UI", serif;
  font-size: 1.22em;
  padding-top: 0.1em;
  padding-left: 0.1em;
  padding-bottom: 0.08em;
}

.line {
  line-height: 1px;
  border: solid 1px #f5f7fa;
}

.icon {
  float: right;
}

.my-button {
  width: 2.0em;
  height: 2.0em;
  border-radius: 50%;
  background-color: inherit;
  border: 0.2em #f5f7fa;
  outline: none;
}

.my-button:hover {
  background-color: $hover-color;
}

.my-button:active{
  background-color: $button-click-color;
}

